
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #fff;
}


.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  padding-bottom: 5px;
  gap: 20px;
  border-bottom: 3px solid #CEE0BE;
  background: #182D46;
}

#divBusca {
  position: relative;
  background-color: #F2F2F2;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}

#txtBusca {
  background-color: transparent;
  padding-left: 35px;
  font-size: 16px;
  border: none;
  width: 100%;
  color: #606060;
}

.icone-busca {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  pointer-events: none;
}

.nav {
  display: flex;
  gap: 15px;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

.nav li a {
  text-decoration: none;
  color: #e5e3e3;
  font-weight: 500;
  font-size: 14px;
  padding-bottom: 10px;
}

.nav li a:hover {
  border-bottom: 1px solid #EFB26E;
}

.icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.promocao img {
  width: 100%;
  height: auto;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}

.recomendados{
  background-color:#182D46;
}

 h1 {
      color: white;
      margin-bottom: 2rem;
      font-size: 20px;
      font-weight: 400;
    }
    .carousel {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      position: relative;
    }
    .card {
      background-color: #ffffff;
      border-radius: 12px;
      padding: 1.5rem;
      width: 280px;
      box-shadow: 0 4px 12px rgba(0,0,0,0.2);
      color: black;
      transition: transform 0.3s, opacity 0.3s;
      transform: scale(0.8);
      opacity: 0.4;
    }
    .card.active {
      transform: scale(1);
      opacity: 1;
    }
    .card h2 {
      font-size: 1.2rem;
      color: #222;
      margin-bottom: 0.5rem;
    }
    .card p {
      margin: 0.5rem 0;
      color: #333;
    }
    .stars {
      font-size: 1.2rem;
      color: #f5a623;
    }
    .buttons {
      margin-top: 1rem;
    }
    .buttons a {
      display: inline-block;
      margin: 0.2rem;
      padding: 0.5rem 1rem;
      background-color: #e1e1e1;
      color: #000;
      border-radius: 5px;
      text-decoration: none;
      font-size: 0.9rem;
    }
    .buttons a:last-child {
      background-color: #b0eab0;
    }
    .arrow {
      font-size: 2rem;
      color: white;
      cursor: pointer;
      user-select: none;
    }
    .arrow.disabled {
      opacity: 0.4;
      cursor: default;
    }